/* VARIABLES */
:root {
  --dark-teal: #549D90;
  --light-teal: #74B9AC;
  --medium-teal: #5aaa9c;
  --grey: #4F4C4C;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--grey);
}

.body__wrapper {
  display: grid;
}

.masthead {
  display: grid;
  grid-template-rows: 80px 1fr;
  background: var(--dark-teal);
  padding: 0;
  height: 95vh;
  clip-path: polygon(-490% 0, 100% 0, 100% 90%, 50% 100%);
}

nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-right: 200px;
}

nav > .logo__small {
  display: grid;
  padding-left: 50px;
}

.logo__small > img {
  width: 140px;
  height: 60px;
}

nav > .links {
  display: flex;
  justify-content: flex-end;
}

.links > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-right: 80px;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center center;
  z-index: 1;
}

.heading {
  display: grid;
  justify-items: center;
  text-align: center;
  padding-left: 50px;
  font-size: 30px;
}

.heading > button {
  background: coral;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 30px;
  color: white;
  padding: 5px 20px;
}

.light__background {
  height: 70px;
  width: 100vw;
  background: var(--light-teal);
  position: absolute;
  bottom: 175px;
}

.medium__background {
  height: 20px;
  width: 100vw;
  background: var(--medium-teal);
  position: absolute;
  bottom: 155px;
}

.section__container {
  background: var(--grey);
  height: 20vh;
  width: 100vw;
}