/* IGNORE THIS. ONLY TEST */
body {
  background: pink; 
}

.wrapper {
  width: 500px;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  text-transform: uppercase; 
}

button {
  background: none;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5px;
}
