/* IGNORE THIS. ONLY TEST */
body {
  background: pink; 
}

h1 {
  font-size: 60px;
  text-transform: uppercase; 
}

button {
  background: none;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5px; 
}
